/* Regras gerais para toda a página */
*{
    margin: 0;
    padding: 0;
}

/* Estilo do titulo */
.title{
    margin-top: 20px;
    margin-left: 20px;
}

/* deixa os input's da base e busca lado a lado */
.form{
    display: flex;
    flex-direction: row;
}

/* tamanho e formatação dos campos da base */
.inf{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 20px;
    margin-right:50px;
    gap: 5px;
}

/* tamanho e formatação do input de busca dos package's e resource's */
.list{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 5px;
}

/* tamanho e formatação dos botões */
.btn{
    padding: 1px;
    width: 130px;
}

/* estilo caso o preenchimento de um campo seja invalido */
.campo-invalido{
    border: 2px solid red;
}
