*{
    margin: 0;
    padding: 0;
}

/* estilo do titulo */
.title{
    margin-top: 20px;
    margin-left: 20px;
}

/* deixa os input's da base e busca lado a lado */
.form{
    display: flex;
    flex-direction: row;
}

/* formatação e tamanho dos input's da base */
.inf{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 100px;
    gap: 8px;
}

/* formatação e tamanho do input de busca dos package's e resource's */
.list{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 8px;
}

/* formatacao e tamanho dos botões */
.btn{
    padding: 1px;
    width: 130px;
}

/* estilo caso um campo de preenchimento esteja invalido*/
.campo-invalido {
    border: 2px solid red;
}

